---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";

import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";

import heroImage from "@images/hero-image.png";
import featureImage from "@images/features-image.png";
import indexFondo from "@images/indexFondo.jpg";

import features from "@data/features.json";
import general from '@/utils/general.ts';
import { Image } from "astro:assets";
---

<style>
  .index-background {
    object-fit: cover;
    filter: brightness(0.75);
  }
  
  .feature-section {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1.25rem;
    margin-top: 3rem;
    padding: 2.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
</style>

<MainLayout>
  <Image class="absolute top-0 left-0 w-full h-dvh index-background z-[-1]" src={indexFondo} alt="Kalia reformas y decoración, tu mejor elección" />

  <HeroSection
    title=`<span class="text-primary-500 dark:text-secondary-500" style="color: #1e40af;">Kalia</span> Reformas y Decoración`
    subTitle="Espacios excepcionales"
    primaryBtn="Calcular mi Presupuesto"
    primaryBtnURL="/calculadora"
    withReview={false}
    src={heroImage}
    alt="Kalia reformas y decoración, tu mejor elección"
  />

  <div class="feature-section">
    <FeaturesGeneral
      title="Diseño y Calidad para su Hogar"
      subTitle="En Kalia Reformas y Decoración transformamos espacios en hogares que reflejan su estilo personal. Nuestro compromiso con la excelencia y atención al detalle nos distingue como líderes en reformas de cocina, montaje de muebles y servicios integrales de decoración."
      src={featureImage}
      alt="Kalia reformas y decoración, tu mejor elección"
      features={features}
    />
  </div>

  <div class="mt-16 py-10 bg-gradient-to-r from-primary-500/15 to-secondary-500/15 rounded-xl shadow-md">
    <FeaturesNavs
      title=`Elige <span class="text-primary-500 dark:text-secondary-500">Kalia</span> para un servicio profesional, de calidad y a precio competitivo.`
      tabs={general.featuresNavs}
    />
  </div>
</MainLayout>